<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/mainpage.css">
</head>
<body>
<p>MAIN PAGE</p>
<body class="htmlNoPages">
  <img src="img/user.png" class="gwd-img-kccp">
  <img src="img/display.png" class="gwd-img-o4oo">
  <img src="img/flight.jpg" class="gwd-img-1wgz">
  <a class="gwd-p-v3si" href="user.html">User Settings</a>
  <a class="gwd-p-vgab" href="search.html">Search Flights</a>
  <a class="gwd-p-12vw" href="booking.html">My bookings</a>
</body>
</body>
</html>